


body {
    background: radial-gradient(circle, #D3D3D3 50%, #A9A9A9 100%); /* Center bright to dark edges */
    color: #333333; /* Charcoal for text */
    margin: 0;
  }
  
  
  /*************************************************************************** TOP SECTION ****************************/
  .about-me {
    background: radial-gradient(circle, #878d94 30%, #3B3B3B 100%); 
    color: white;
    margin: 2rem 32px 0 32px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  } 
  
  h1 {
    font-size: 3rem;
  }
  
  .about-me p {
    color: black;
    font-size: 1.3rem;
  }
  
  .about-me > div {
    flex: 1;
    max-width: 400px;
  }
  
  .profile-pic {
    width: 70%;
    height: auto;
    border-radius: 50%;
    border: black 3px solid;
    margin: 20px auto;
  }

  .mypic {
    text-align: right;
  }
  
  /*************************************************************************** NAVBAR ****************************/
  
  nav {
    display: flex;
    gap: 1.5rem;
    margin: 0 32px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9); /* Lighter background for content sections */
    padding: 1rem;
    height: 30px;
    align-items: center;
  }
  nav > li {
    list-style: none;
    align-items: stretch;
    align-content: stretch; 
  }
  
  nav #right {
    flex: 1;
    text-align: right;
  }
  
  nav a {
    text-decoration: none;
    color: inherit
  }
  
  nav a:hover {
    font-weight: bold;
    text-decoration: underline;
  }


  .hamburger {
    display: none;
    position: relative;
    top: -1rem;
    background: rgb(49, 48, 48);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
    color: white;
    margin-left: 20px;
  }

  
  
  
  
  @media (max-width: 1000px) {
    .hamburger {
      display: block;
    }
    
    .hamburger:hover {
      background-color: white;
      color: black;
      border: solid 1px black;
    }
    nav {
      display: none;
    }

    nav #right, nav li{
      text-align: center;
    }
    nav #right:hover, nav li:hover{
      background-color: #3B3B3B;
      color: white;
    }

    .side-nav.open {
      display: flex;
      position: absolute;
      flex-direction: column;
      height: auto;
      align-items: center; 
      justify-content: center; 
      width: 87vw;
      margin-left: auto;
      margin-right: auto;
      left: 50%; 
      transform: translate(-50%, 0); 
    }

  }
  
  
  /*************************************************************************** EDUCATION ****************************/
  
  #education {
    background: radial-gradient(circle, #D3D3D3 50%, #8f8f8f 100%); /* Center bright to dark edges */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for sections */
    padding: 2%;
    height: 50vh;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  table, table th, table td {
    text-align: center;
    border: #4b250c 3px solid;
    border-collapse: collapse;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  table, h2 {
    margin: 1rem auto;
  }
  
  /*************************************************************************** SKILLS ****************************/
  
  #skills {
    background: radial-gradient(circle, #D3D3D3 0%, #8f8f8f 100%); /* Center bright to dark edges */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for sections */
    height: 50vh;
    margin: 2rem;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #skills li {
    font-size: 1.5rem;
  }
  
  /*************************************************************************** PROJECTS ****************************/
   #projects {
    background: radial-gradient(circle, #D3D3D3 0%, #8f8f8f 100%); /* Center bright to dark edges */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for sections */
    height: 50vh;
    margin: 2rem;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #projects a {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
  }
  
  #projects a:hover {
    color: white;
    text-decoration: underline;
  }
  
  
  /*************************************************************************** Hobbies ****************************/
  
  #hobbies {
    background: radial-gradient(circle, #D3D3D3 0%, #8f8f8f 100%); /* Center bright to dark edges */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for sections */
    height: auto;
    margin: 2rem;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #hobbies li {
    font-size: 1.5rem;
  }
  
  /*************************************************************************** Life-Ambitions ****************************/
  
  #life-ambitions {
    background: radial-gradient(circle, #D3D3D3 0%, #8f8f8f 100%); /* Center bright to dark edges */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for sections */
    height: auto;
    margin: 2rem;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #life-ambitions li {
    font-size: 1.5rem;
  }
  
  /*************************************************************************** Effort-for-country ****************************/
  
  #effort-for-country {
    background: radial-gradient(circle, #D3D3D3 0%, #8f8f8f 100%); /* Center bright to dark edges */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for sections */
    height: auto;
    margin: 2rem;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #effort-for-country li {
    font-size: 1.5rem;
  }
  
  /*************************************************************************** Footer ****************************/
  
  footer {
    background: radial-gradient(circle, #919394 50%, #3B3B3B 100%); 
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }
  
  .social-icons {
    height: auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  .social-icons a {
    
    font-size: 2rem; /* Increase the size of the FontAwesome icons */
  }
  
  .fa-cog {
    color: black;
  }
  
  .fa-cog:hover {
    color: white;
  }
  



  @media (max-width: 1000px) {


    .about-me, #education, #effort-for-country, #hobbies, #life-ambitions, #projects, #skills, footer {
      margin: 0rem 0 2rem 0;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .about-me p {
      font-size: 1rem;
    }
    nav {
      display: none;
    }

    .about-me {
      flex-direction: column;
      align-items: center;
    }

    .about-me > div {
      text-align: center;
    }

    .about-me .intro {
        order: 1;
    }

    #education table {
      margin: 0;
      font-size: 0.5rem;
      width: 100%;
    }

    #skills li, #projects a, #hobbies li, #life-ambitions li, #effort-for-country li {
      margin: 0;
      font-size: 1rem;
    }

    .social-icons a {
       font-size: 1.2rem; 
    }

    footer {
      margin-bottom: 0;
    } 
}

@media (max-width: 700px) {
  .profile-pic {
    width: 50%;
  }
}